.terraform/
backend/.terraform/
backend/.terraform.lock.hcl
backend/.terraform/providers/registry.terraform.io/hashicorp/aws/5.93.0/windows_amd64/terraform-provider-aws_v5.93.0_x5.exe
.terraform.lock.hcl

backend/.terraform.lock.hcl

backend/terraform.tfstate

backend/terraform.tfstate.backup